BASELINE/.ipynb_checkpoints
BASELINE/donald_trump_image_universe/*
BASELINE/hillary_clinton_image_universe/*
BASELINE/hillary_clinton_unique_images/*
BASELINE/allsides_data.json

IMAGE_BOX/.ipynb_chechpoints
IMAGE_BOX/clinton/*
IMAGE_BOX/trump/*
